*.py[cod]
*.sw[p,o]

# C extensions
*.so
*.[ao]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage
.coverage
.tox
htmlcov
nosetests.xml
test/fixtures/.cache.yaml

# Translations
*.mo

# Mr Developer. Those files are used by Eclipse development
.mr.developer.cfg
.project
.pydevproject
.spyderproject

# Documentation
docs/_build
