[Desktop Entry]
Version=0.7
Name=DevAssistant
GenericName=Start developing with ease
Exec=da-gui
Terminal=false
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.21
