[Desktop Entry]
Exec=da-gui
Name=DevAssistant
GenericName=DevAssistant
Terminal=false
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.21
