include CHANGELOG
include LICENSE
include README.rst
# include everything under manpages, so that everyone can regenerate
include manpages/*
include da.bash
include devassistant/zenity_wrapper.sh
include devassistant/gui/devassistant.desktop
recursive-include devassistant/data  *
recursive-include devassistant/gui *.glade *.py
recursive-include test *.yaml *.py
recursive-exclude . __pycache__
