include CHANGELOG
include CONTRIBUTORS
include LICENSE
include README.rst
include requirements.txt requirements-devel.txt requirements-py2.txt

recursive-include distribution *

include devassistant/gui/devassistant.desktop

recursive-include devassistant/data  *
recursive-include devassistant/gui *.glade

recursive-include features *.py *.feature
recursive-include features/data *
recursive-include test *.py
recursive-include test/fixtures *
recursive-exclude . __pycache__

recursive-include docs *
recursive-exclude docs/_build *

