include CHANGELOG
include LICENSE
include README.rst

include manpages/*
include da.bash

include devassistant/gui/devassistant.desktop

recursive-include devassistant/data  *
recursive-include devassistant/gui *.glade

recursive-include test *.py
recursive-include test/fixtures *
recursive-exclude . __pycache__

recursive-include docs *
recursive-exclude docs/_build *

recursive-include icons *

recursive-include polkit *
